name: frontend-cd

on:
  workflow_run:
    workflows: ["frontend-ci"]
    types:
      - completed

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend-build
          path: frontend/dist

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::928558116854:role/ECRPushCICD
          aws-region: us-east-1

      - name: Login to the AWS ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker Image
        run: docker build -t docker-project/new:frontend-${{ github.sha }} .

      - name: Push image to ECR
        run: |
          docker tag docker-project/new:${{ github.sha }} \
          928558116854.dkr.ecr.us-east-1.amazonaws.com/docker-project/new:frontend-${{ github.sha }} \
          docker push 928558116854.dkr.ecr.us-east-1.amazonaws.com/docker-project/new:frontend-${{ github.sha }}
